<div class="container mt-3 mb-3">
    <div class="card">
        <div class="card-body">
            <h5 class="store-list">
                <span>Store List</span> >
                <span class="store-list__heading">Store Staff</span>
                <button class="btn btn-warning btn-sm mr-2">Add manager</button>
                <button class="btn btn-warning btn-sm">Add Customer Care Admin</button>
            </h5>
        </div>
    </div>
    <div class="card mt-3">
        <div class="card-body">
            <h5 class="store-list">
                <span class="store-list__heading">Store Managers</span>
            </h5>
        </div>
    </div>
    <div class="card mt-3">
        <div class="card-body">
            <h5 class="store-list">
                <span class="store-list__heading"> Store Customer Care Admin Managers</span>
            </h5>
        </div>
    </div>
    <div  class="mt-3">
        <div class="jumbotron no-records-found">
            <h3>No customer care is assigned</h3>
        </div>
    </div>