.create-profile-list{
    margin: 0 auto;
    margin-top: 50px;
    padding: 15px;
    background-color: #fff!important;
}
label{
    font-size: 0.8em;
    color: #2c3e50;
    font-weight: 700;
    margin-bottom: 0px !important;
}
.error{   
    color: #f57f6c;
    margin-bottom: 5px;
    font-size: 0.8em;
}

@media (max-width:767px){
    .create-profile-list{
        margin: 40px;
        padding: 15px;
        max-width: 600px;
        background-color: #fff!important;
    }
}