<div class="container mt-3 mb-3">
    <div class="card">
        <div class="card-header">
            <div class="engagement-zone-header">
                <span><i class="fa fa-arrow-left"></i> Ezone Details</span>

            </div>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-sm-2">
                    <p class="geozone-title">Ezone Name</p>
                    <p>{{ezoneDetails.name}}</p>
                </div>
                <div class="col-sm-2">
                    <p class="geozone-title">Location</p>
                    <p>{{ezoneDetails.location}}</p>
                </div>
                <div class="col-sm-4">
                    <p class="geozone-title">Ezone Id</p>
                    <p>{{ ezoneDetails.e_id}}</p>
                </div>
                <div class="col-sm-2">
                    <p class="geozone-title">Status</p>
                    <p>{{ezoneDetails.is_active}}</p>
                </div>
                <div class="col-sm-2">
                    <p class="geozone-title">Size</p>
                    <p>{{ezoneDetails.radius}}</p>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-2">
                    <p class="geozone-title">Valid till</p>
                    <p>{{expiry_timestamp}}</p>
                </div>
                <div class="col-sm-2">
                    <p class="geozone-title">Loitering Delay</p>
                    <p>{{ezoneDetails.loitering_delay}}</p>
                </div>
            </div>
        </div>
    </div>
    <div class="card mt-3" >
        <div class="card-header">
            <div class="engagement-zone-header">
                <span><i class="fa fa-arrow-left"></i> {{ezoneDetails.name}} </span> <span>></span><span
                    class="engagement-title">Store</span>
                <div class="engagement-zone-create-btn">
                    <button class="btn btn-warning btn-sm">New Store</button>
                </div>

            </div>
        </div>
        <div class="card-body table-responsive" *ngFor="let store of stores;let i=index">
            <table class="table mt-3">
                <thead>
                    <tr>
                        <th>Atribute</th>
                        <th>Value</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let store_attribute of store.store_attributes">
                        <td>{{store_attribute.display_name}}</td>
                        <td>{{store_attribute.value}}</td>
                    </tr>
                    <tr>
                        <td colspan="2"><small>{{store.st_id}}</small></td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <button class="btn btn-default btn-sm">Notification</button>
                            <button class="btn btn-default btn-sm"
                                [routerLink]="['/engagement-zone-create']">Edit</button>
                            <button class="btn btn-default btn-sm"
                                (click)="deleteGeoStore(i)">Delete</button>
                            <button class="btn btn-default btn-sm" data-toggle="modal" data-target="#myModal">Update
                                Location</button>
                            <button class="btn btn-default btn-sm"   [routerLink]="['/store-brand',store.st_id,store.e_id]">Manage
                                Brands</button>
                            <button class="btn btn-default btn-sm" [routerLink]="['/store-staff/',store.st_id]">Manage
                                Staff</button>

                            <!-- The Modal -->
                            <div class="modal fade" id="myModal">
                                <div class="modal-dialog">
                                    <div class="modal-content">

                                        <!-- Modal Header -->
                                        <div class="modal-header">
                                            <h4 class="modal-title">Add Location</h4>
                                            <button type="button" class="close" data-dismiss="modal">&times; </button>
                                        </div>

                                        <!-- Modal body -->
                                        <div class="modal-body">
                                            <div class="form-group">                                            
                                                <input type="text" [(ngModel)]="location" class="form-control" id="usr"/>
                                                <small class="form-text text-muted"  *ngIf="!isLocation(location)">Please enter valid input (lat, lng)</small>
                                              </div>
                                        </div>

                                        <!-- Modal footer -->
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-danger"
                                                data-dismiss="modal">Cancel</button>
                                            <button type="button" class="btn btn-primary"
                                               (click)="updateLocation(i)" [disabled]="!isLocation(location)" data-dismiss="modal">Confirm</button>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>

                </tbody>
            </table>
        </div>
    </div>
</div>