.back-icon{
    height: 25px;
    width:25px;
}
.nav-link{
    color: black !important;
    font-family: Avenir,Helvetica,Arial,sans-serif;
    -webkit-font-smoothing: antialiased;
}
.nav-link i{
    margin-right: 5px;
    color: black;
}

.navbar-brand{
    cursor: pointer;
}

.color-red{
    color: #666;
}

.fw{
    font-weight: 700;
}

@media only screen and (min-width: 768px) {
    .text-center{
        position: absolute;
        left: 50%;
        transform: translate(-50%,-10px);
    }
    small{
        display: block;
    }
    
}