<div class="card create-brand-list mt-5">
        <div class="card-body">
            <form [formGroup]="brandListData" (keyup)="$event.keyCode == 13 &&updateBrandList()">
                <div class="form-group">
                    <label for="name">Brand Name</label>
                    <input type="text" class="form-control" id="name"
                        [formControl]="brandListData.controls.brandList.controls.name" (input)="fieldInput()" />
                    <span class="error"
                        *ngIf="errorMsg||((!brandListData.controls.brandList.controls['name'].valid && brandListData.controls.brandList.controls['name'].touched))">*Please
                        Enter Brand Name</span>
                </div>
                <div class="form-group">
                    <label for="custom_brand_id">Custom Brand Id</label>
                    <input type="text" class="form-control" id="custom_brand_id"
                        [formControl]="brandListData.controls.brandList.controls.custom_brand_id" (input)="fieldInput()" />
                   
                    <span class="error"
                        *ngIf="errorMsg||((!brandListData.controls.brandList.controls['custom_brand_id'].valid && brandListData.controls.brandList.controls['custom_brand_id'].touched))">*Please
                        Custom Brand Id</span>
                </div>
                <div class="form-group">
                    <label for="weight">Brand Weight</label>
                    <input type="number" class="form-control" id="weight"
                        [formControl]="brandListData.controls.brandList.controls.weight" (input)="fieldInput()" />
                        <span class="error"
                        *ngIf="errorMsg||((!brandListData.controls.brandList.controls['weight'].valid && brandListData.controls.brandList.controls['weight'].touched))">*Please
                        Enter discription</span>
                </div>
                <button type="button" class="btn btn-primary" (click)="updateBrandList()"
                [disabled]="!brandListData.valid">Save brand</button>
            </form>
            {{toggle}}
        </div>
    </div>