<div class="container">
    <div class="card mt-3" *ngIf="storeNotifications.length !== 0">
        <div class="card-header">
            <h5 class="store-list">
                <span>{{storeNameAttribute.length? storeNameAttribute[0].value : 'Store'}}</span> >
                <span class="store-list__heading">Stores</span>
                <button class="btn btn-warning btn-sm" [routerLink]="['/create-store-notification',st_id]">New Store Notification</button>
            </h5>
        </div>
        <div class="card-body">
            <div class="row notification-card" *ngFor="let item of storeNotifications">
                <div class="col-sm-3">
                    <div class="notification">
                        <label for="">Notification id</label>
                        <span style="font-size: 0.8em;">{{item.nt_id}}</span>
                    </div>
                    <div class="notification">
                        <label for="">Notification Text</label>
                        {{item.notification[0].text}} <br>
                        <span style="font-size: 0.8em; color: #666;">{{item.notification[0].sub_text}}</span>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="notification">
                        <label for="">Notification Type</label>
                        {{item.notification_type[0].name}}
                    </div>
                    <div *ngIf="item.notification_type[0].name == 'Loyalty'" class="notification">
                        <label for="">Loyalty Label</label>
                        {{item.notification_labels.length>0?item.notification_labels[0].label:''}}
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="notification">
                        <label for="">Action Type</label>
                        {{item.notification_action_type[0].name}}
                    </div>
                    <div class="notification">
                        <label for="">Match Type</label>
                        {{item.notification[0].notification_match_type}}
                    </div>
                    <div *ngIf="item.notification[0].notification_match_type == 'BRAND'" class="notification">
                        <label for="">Associated Brands</label>
                        <span *ngFor="let brand of item.notification_brands" :key="'brand'+index1"
                            style="font-size: 0.9em;">
                            {{brand.name}} <span *ngIf="index1 < item.notification_brands.length - 1">, </span>
                        </span>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="btn btn-primary notification-btns" (click)="deleteStoreNotification(item.nt_id)">Delete</div>
                    <div class="btn btn-primary notification-btns" [routerLink]="['/edit-notification/STORE',item.nt_id]"
                        >Edit</div>
                </div>
            </div>
        </div>
    </div>
    <div *ngIf="storeNotifications.length == 0" class="mt-3">
        <div class="jumbotron no-records-found">
            <h3>No Notification Found</h3>
        </div>
    </div>
</div>