<div class="create-notification mt-3">
    <div class="card">
        <div class="card-header">
            <div class="search-labels">
                <label class="form-check-label" for="radio1">
                    <input type="radio" class="form-check-input" id="radio1" name="notification" value="GEOZONE"
                        (change)="onChange($event)" checked />
                    <span>Zone Notification</span>
                </label>
                <label class="form-check-label" for="radio2">
                    <input type="radio" class="form-check-input" id="radio2" name="notification" value="STORE"
                        (change)="onChange($event)" /><span>Store Notification</span>
                </label>

            </div>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-sm-12">
                    <div class="form-check-inline">
                        <label class="form-check-label">
                            <input type="radio" class="form-check-input" name="optradio" value="COUNTRY"  (change)="onSearchWith($event)"/>Search by Country
                        </label>
                    </div>
                    <div class="form-check-inline">
                        <label class="form-check-label">
                            <input type="radio" class="form-check-input" name="optradio" value="STATE" (change)="onSearchWith($event)">Searcy by State
                        </label>
                    </div>
                    <div class="form-check-inline">
                        <label class="form-check-label">
                            <input type="radio" class="form-check-input" name="optradio" value="CITY" (change)="onSearchWith($event)">Search by City
                        </label>
                    </div>
                    <div class="form-check-inline">
                        <label class="form-check-label">
                            <input type="radio" class="form-check-input" name="optradio" value="GEOZONE" (change)="onSearchWith($event)" checked>Search by Zone
                        </label>
                    </div>
                    <div class="form-check-inline" *ngIf="search_for === 'STORE'">
                        <label class="form-check-label">
                            <input type="radio" class="form-check-input" name="optradio" value="STORE" (change)="onSearchWith($event)">Search by Store
                        </label>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-2">
                    <div class="form-group">
                        <label for="country"><small>Country</small></label>
                        <select class="form-control" id="country" (change)="getState($event)">
                            <option *ngFor="let country of all_country_dropdown">{{country}}</option>
                            
                        </select>
                    </div>
                </div>
                <div class="col-sm-2" *ngIf="showStateDropdown()">
                    <div class="form-group">
                        <label for="state"><small>State</small></label>
                        <select class="form-control" id="state" (change)="getCities($event)">
                            <option *ngFor="let state of all_states_dropdown">{{state}}</option>
                     
                        </select>
                    </div>
                </div>
                <div class="col-sm-2" *ngIf="showCityDropdown()">
                    <div class="form-group">
                        <label for="city"><small>City</small></label>
                        <select class="form-control" id="city" (change)="getZone($event)">
                            <option *ngFor="let city of all_city_dropdown">{{city}}</option>                            
                        </select>
                    </div>
                </div>
                <div class="col-sm-2" *ngIf="showGeozoneDropdown()">
                    <div class="form-group">
                        <label for="zone"><small>Zone</small></label>
                        <select class="form-control" id="zone">
                            <option *ngFor="let zone of ezone_dropdown">{{zone.name}}</option>
                        </select>
                    </div>
                </div>
                <div class="col-sm-2" *ngIf="showEzoneDropdown()">
                    <div class="form-group">
                        <label for="engagement-zone" >Engagement Zone</label>
                        <select class="form-control" id="engagement-zone" >
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                        </select>
                    </div>
                </div>
                <div class="col-sm-2" *ngIf="showStoreDropdown()">
                    <div class="form-group">
                        <label for="stores"  >Stores:</label>
                        <select class="form-control" id="stores">
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                        </select>
                    </div>
                </div>
                <div class="col-sm-2" *ngIf="showBrandDropdown()">
                    <div class="form-group">
                        <label for="brands">Brands:</label>
                        <select class="form-control" id="brands">
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                        </select>
                    </div>
                </div>
               ss
                <div class="col-sm-2">
                    <button class="btn btn-primary">
                        Search
                    </button>
                </div>

            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="selected-country">Selected Country</div>
                    <i class="fa fa-times-circle" (click)="deleteRole(role)"></i>
                    <span>India</span>
                </div>
            </div>
            <div class="matched-notification">
                <div class="matched-notification__heading">
                    <span>Geozone Matched...</span>
                    <button class="btn btn-primary btn-sm ">Create notification for 9 Geozones</button>
                </div>
                <div class="matched-notification__body">
                    <p><span class="matched-notification__name">TDP</span> | <span
                            class="matched-notification__id">245ef880-7b98-11e9-809f-2593c28cf2a3</span></p>
                </div>
            </div>
            <div class="row mt-3">
                <div class="col-sm-12">
                    <div class="form-group">
                        <label for="text">Text</label>
                        <input type="text" class="form-control">
                        <small id="text" class="form-text text-muted">We'll never share your email with anyone
                            else.</small>
                    </div>
                </div>
                <div class="col-sm-12">
                    <div class="form-group">
                        <label for="text">Text</label>
                        <input type="text" class="form-control">
                        <small id="text" class="form-text text-muted">We'll never share your email with anyone
                            else.</small>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="text">Image Url</label>
                        <input type="text" class="form-control">
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="text">Action Url</label>
                        <input type="text" class="form-control">
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="text">Start Date</label>
                        <input type="date" class="form-control">
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="text">Validity Untill*</label>
                        <input type="date" class="form-control">
                    </div>
                </div>
                <div class="col-sm-2" *ngFor="let day of active_days">
                    <div class="form-group">
                        <label for="">{{day.name}}<span style="color: red">*</span></label>
                        <input type="text" class="form-control" />
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="form-check">
                        <label class="form-check-label">
                            <input type="checkbox" class="form-check-input" value="" checked>isActive
                        </label>
                    </div>
                </div>
            </div>
            <div class="btn btn-primary m-2">Save zone Notification</div>
            <div class="btn btn-primary m-2">Cancel</div>
        </div>
    </div>
</div>