<div class="container">
    <div class="card mt-3">
        <div class="body">
            <h5 class="app-dashboard-heading"><span>{{this.appName  }}</span>
            </h5>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4 col-lg-4 col-md-4 col-12 app-card">
            <div class="card">
                <div class="card-body">
                    <div class="app_details">
                        <div class="app_img">
                            <img src="../../../../assets/icon/profile_config.png" alt="store config" />
                        </div>
                        <div class="app_profile_name mt-2">
                            <h5>User Profile Config</h5>
                        </div>
                        <div class="app_category">
                            <a href="">Manage</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-4 col-lg-4 col-md-4 col-12 app-card">
            <div class="card">
                <div class="card-body">
                    <div class="app_details">
                        <div class="app_img">
                            <img src="../../../../assets/icon/store_config.png" alt="store config" />
                        </div>
                        <div class="app_profile_name mt-2">
                            <h5>Store Profile Config</h5>
                        </div>
                        <div class="app_category">
                            <a href="">Manage</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-4 col-lg-4 col-md-4 col-12 app-card">
            <div class="card">
                <div class="card-body">
                    <div class="app_details">
                        <div class="app_img">
                            <img src="../../../../assets/icon/male.png" alt="Users" />
                        </div>
                        <div class="app_profile_name mt-2">
                            <h5>Users</h5>
                        </div>
                        <div class="app_category">
                            <a [routerLink]="['/profile-list']">List</a>
                            <a [routerLink]="['/create-profile-list']">Create</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-4 col-lg-4 col-md-4 col-12 app-card">
            <div class="card">
                <div class="card-body">
                    <div class="app_details">
                        <div class="app_img">
                            <img src="../../../../assets/icon/map-pin-marked.png" alt="Zones" />
                        </div>
                        <div class="app_profile_name mt-2">
                            <h5>Zones</h5>
                        </div>
                        <div class="app_category">
                            <a [routerLink]="['/geozone-list']">List</a>
                            <a [routerLink]="['/create-geozone-list']">Create</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-4 col-lg-4 col-md-4 col-12 app-card">
            <div class="card">
                <div class="card-body">
                    <div class="app_details">
                        <div class="app_img">
                            <img src="../../../../assets/icon/brand.png" alt="store config" />
                        </div>
                        <div class="app_profile_name mt-2">
                            <h5>Brands</h5>
                        </div>
                        <div class="app_category">
                            <a [routerLink]="['/brand-list']" >List</a>
                            <a [routerLink]="['/create-brand-list']" href="create-brand-list">Create</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-4 col-lg-4 col-md-4 col-12 app-card">
            <div class="card">
                <div class="card-body">
                    <div class="app_details">
                        <div class="app_img">
                            <img src="../../../../assets/icon/relation.png" alt="Relations" />
                        </div>
                        <div class="app_profile_name mt-2">
                            <h5>Relations</h5>
                        </div>
                        <div class="app_category">
                            <a [routerLink]="['/relations-list']" >List</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-4 col-lg-4 col-md-4 col-12 app-card">
            <div class="card">
                <div class="card-body">
                    <div class="app_details">
                        <div class="app_img">
                            <img src="../../../../assets/icon/notifications.png" alt="Notifications" />
                        </div>
                        <div class="app_profile_name mt-2">
                            <h5>Notifications</h5>
                        </div>
                        <div class="app_category">
                            <a [routerLink]="['/notifications']">List</a>
                            <a [routerLink]="['/create-notification']">Create</a>
                        </div>
                    </div>
                </div>s
            </div>
        </div>
        <div class="col-sm-4 col-lg-4 col-md-4 col-12 app-card">
            <div class="card">
                <div class="card-body">
                    <div class="app_details">
                        <div class="app_img">
                            <img src="../../../../assets/icon/store.png" alt="Stores" />
                        </div>
                        <div class="app_profile_name mt-2">
                            <h5>Stores</h5>
                        </div>
                        <div class="app_category">
                            <a [routerLink]="['/store-list']">List</a>
                            <a href="">Create</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-4 col-lg-4 col-md-4 col-12 app-card">
            <div class="card">
                <div class="card-body">
                    <div class="app_details">
                        <div class="app_img">
                            <img src="../../../../assets/icon/managestaff.png" alt="Manage Staff" />
                        </div>
                        <div class="app_profile_name mt-2">
                            <h5>Manage Staff</h5>
                        </div>
                        <div class="app_category">
                            <a [routerLink]="['/manage-customer-care']">Customer care</a>
                            <a [routerLink]="['/manage-store-manager']">Store Manager</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-4 col-lg-4 col-md-4 col-12 app-card">
            <div class="card">
                <div class="card-body">
                    <div class="app_details">
                        <div class="app_img">
                            <img src="../../../../assets/icon/broadcast.svg" alt="Broadcast Notifications" />
                        </div>
                        <div class="app_profile_name mt-2">
                            <h5>Broadcast Notifications</h5>
                        </div>
                        <div class="app_category">
                            <a [routerLink]="['/broadcast-notification/']">Manage</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-4 col-lg-4 col-md-4 col-12 app-card">
            <div class="card">
                <div class="card-body">
                    <div class="app_details">
                        <div class="app_img">
                            <img src="../../../../assets/icon/loyalty.png" alt="Loyalty" />
                        </div>
                        <div class="app_profile_name mt-2">
                            <h5>Loyalty</h5>
                        </div>
                        <div class="app_category">
                            <a [routerLink]="['/loyality/']">List</a>
                            <a [routerLink]="['/loyality-create/']">Create</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>