.geozone-heading{
    padding:15px;
    display: flex;
}

.geozone-heading span{
flex-grow: 1;
color: #666;
}

.geozone-search{
    display: flex;
}
.geozone-search .btn{
   margin:0px 1em 0px;
}

.btn-default{
    color: #409eff;
}